.header{
    background-color: navy blue;
    color: white;
}

.mainbody{
    background-color: whitesmoke;
    text-align: center;
}

.title{
    color: navy blue;
    text-align: center 
}